
/* programa general margenes */
* { 
    margin: 0;
    padding: 0;
}

/* ccuerpo de la pagina  */
body {
    background: rgb(250, 249, 249);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

/*forma de la pagina  */

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-row: repeat (4,auto);
}
/* bordes de la pagina  */
.contenedor > div,
.contenedor .encabezado,
.contenedor .lateral,
.contenedor .piedepagina
{ 
background:rgb(201, 195, 195) ;
padding: 20px;
border-radius: 4%;
}
.contenedor .contenido
{ 
    background:rgb(255, 255, 255) ;
    padding: 20px;
    border-radius: 4%;
 }
    
/* cabecera de la pagina  */
.contenedor .encabezado {
    background: rgb(7, 7, 7);   
    color: white;
    grid-column-start:1 ;
    grid-column-end:-1 ;
    text-align: center
} 
/* menu despegable   */
.nav{
    
    display: flex;
}

.menu ul {
margin: 15px 20pxs;
list-style-type: none;
padding:12px 20px;
display: flex;
justify-content: space-between;

}

.menu li a {
display: block;
padding: 12px 20px;
color: rgb(253, 253, 252);
text-decoration: none;
font-size-adjust: 20px;
}

a:hover {
background-color: rgb(255, 0, 0);
}

.menu ul li  {
    position: relative;
}

.menu ul li ul  {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color:rgb(5, 5, 5);
    top: 0;
    margin-left: 50px;
}   
.menu ul li:hover > ul {
display: block;
}

/* espacio del contenido */
.contenedor .contenido {
    grid-column: span 2;

}
/*texto del contenido para el titulo*/
 h1  {
    color:  rgb(2, 2, 2);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40 px;
    text-align: center;
}
/*parrafos */
p  {
    color:  rgb(2, 2, 2);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20 px;
    text-align: justify;
}
/* espacio de el menu lateral  */
.contenedor .lateral{
    grid-column: 3/4;
    background: tomato;
    grid-row:span 2;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
} 
/* espacio de los cuadros */
.contenedor .cuadro1,
.contenedor .cuadro2 {
    background: blue;
    color: white;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*pie de pagina */
.contenedor .piedepagina {
    background: rgb(241, 8, 8);   
    color: rgb(247, 248, 247);
    font-family: 'Times New Roman', Times, serif;
    font-size: 8px;
    text-align: center;
    grid-column-start:1 ;
    grid-column-end:-1 ;

} 
.piedepagina h1 {
    color: rgb(247, 248, 247);
} 